@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono');

@font-face {
	font-family: segment7;
	src: url(fonts/digital-7.regular.ttf);
}

.noselect, .calcbutton {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#wrapper {
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

#wrapper .calculator {
	width: 400px;
	height: 600px;
	border: 5px solid var(--accentcolor);
	border-radius: 50px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}

#wrapper .calculator .output {
	margin: 20px;
	width: 360px;
	height: 100px;
	border: 2px solid var(--accentcolor);
	background: var(--accentcolor);
	border-radius: 20px;
	font-family: segment7;
}
#wrapper .calculator .output input {
	background: transparent;
	color: white;
	border: none;
	text-align: right;
	caret-color: transparent;
	outline: none;
	cursor: default;
}
#wrapper .calculator .output input#memory {
	width: 95%;
	height: 30%;
	font-size: 30px;
}
#wrapper .calculator .output input#current {
	width: 95%;
	height: 70%;
	font-size: 60px;
}

#wrapper .calculator .input {
	margin: 20px;
	width: 360px;
	height: 400px;
	display: flex;
	position: relative;
	font-family: 'Chivo Mono', monospace;
}

#wrapper .calculator .input .calccolumn {
	display: flex;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
}

#wrapper .calculator .input .calccolumn .calcbutton {
	width: 50px;
	height: 50px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;

	transition: .5s;
	cursor: pointer;
	border-radius: 25px;
	font-size: larger;
	color: white;
}

#wrapper .calculator .input .calccolumn .calcbutton:hover {
	background: var(--accentcolor);
	opacity: .3;
}

#wrapper .calculator .input .calccolumn .calcbutton#equals {
	background: var(--accentcolor);
}
#wrapper .calculator .input .calccolumn .calcbutton#equals:hover {
	opacity: .7;
}