@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono');

:root {
	--bgcolor: #0c0030;
	--accentcolor: #00ff00;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
	background: var(--bgcolor);
	display: flex;
	justify-content: center;
	align-items: center;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

#wrapper {
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: space-between;

}

#wrapper .card {
	position: relative;
	font-family: 'Chivo Mono', monospace;
}

#wrapper .card .face {
	width: 300px;
	height: 200px;
	transition: 1s;
}

#wrapper .card .face.face1 {
	position: relative;
	background: var(--bgcolor);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

#wrapper .card:hover .face.face1 {
	background: var(--accentcolor);
	transform: translateY(0);
}

#wrapper .card .face.face1 .content {
	opacity: 0.3;
	transition: .5s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#wrapper .card:hover .face.face1 .content {
	opacity: 1;
}

#wrapper .card .face.face1 .content img {
	max-width: 100px;
	display: inline;
	margin: 10px 0 0;
}

#wrapper .card .face.face1 .content p {
	text-align: center;
	font-size: 1.5em;
	color: white;
}

#wrapper .card .face.face2 {
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	transform: translateY(-100px);
}

#wrapper .card:hover .face.face2 {
	transform: translate(0);
}

#wrapper .card .face.face2 .content {
	padding-top: 20px;
}


#wrapper .card .face.face2 .content p {
	color: black;
	font-size: 15px;
}

#wrapper .card .face.face2 .content a {
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: var(--accentcolor);
	padding: 5px;
	border: 1px solid var(--accentcolor);
}

#wrapper .card .face.face2 .content a:hover {
	background: var(--accentcolor);
	color: white;
}