@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono');

:root {
	--bgcolor: #0c0030;
	--accentcolor: #00dd00;
	--accentcolor-dark: hsl(120, 100%, 25%);
	--accentcolor-low-opacity: rgba(0, 221, 0, .5);
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
	background: var(--bgcolor);
	display: flex;
	justify-content: center;
	align-items: center;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

header {
	position: absolute;
	top: 0;
	display: flex;
	width: 200px;
	padding: 10px;
	transition: .5s;
	transform: translateY(-20px);
	z-index: 1000;
}

header:hover {
	transform: translateY(0);
}

header a {
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: var(--accentcolor);
	padding: 7px;
	border: 1px solid var(--accentcolor);

	background: linear-gradient(to right, transparent 50%, var(--accentcolor) 50%);
	background-size: 200% 100%;
	background-position: left;
	transition: .6s;
}

header a:hover {
	color: white;
	background-position: right;
}

header a span.arrows {
	letter-spacing: -1.5px;
	margin-right: 2px;
}

header a:hover span.arrows span:nth-child(1){
	transition: .5s;
}
header a:hover span.arrows span:nth-child(2){
	transition: .4s;
}
header a:hover span.arrows span:nth-child(3){
	transition: .3s;
}


