nav#sidebar {
	background: var(--accentcolor-dark);
	height: 90vh;
	position: fixed;
	left: 0;
	border-radius: 0px 20px 20px 0px;
	border: 5px solid transparent;
	border-left: 0;
}
nav#sidebar * {
	transition: all 1s ease-in-out;
}
#insideborder {
	background: transparent;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	border-radius: 0px 20px 20px 0px;
	border: 5px solid var(--accentcolor);
	border-left: 0;
	font-size: 3.5rem;
	font-family: 'Chivo mono', monospace;
	overflow: hidden;
	white-space:nowrap;
}

#sidebarheader {
	position: relative;
	color:white;
	width:100%;
	height: calc(20% - 25px);
	left: 35px;
	top: 50px;
}

#sidebarcontent {
	position: relative;
	color:black;
	top: 50px;
	left: 35px;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
}

#sidebarcontent a {
    text-decoration: none;
	display: block;
	padding: .5rem 0;
	font-weight: 700;
	color: white;
	z-index: 1;
	text-transform:uppercase;
	letter-spacing: .02em;
}

#sidebarcontent::before {
	content: '';
	position: absolute;
	top: 0;
	width: 90%;
	height: 2px;
	border-radius: 100%;
	left: -5%;
	background-color: var(--accentcolor);
}

#sidebarcontent::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 2px;
	border-radius: 100%;
	left: -5%;
	background-color: var(--accentcolor);
}

#selectionpointer {
	height: 2rem;
	width: 2rem;
	color: var(--accentcolor);
	position: absolute;
	left: -5%;
	top: .6rem;
	transition: top 100ms ease;
	z-index: 0;
}

a[data-i="1"]:hover ~ #selectionpointer {top: .6rem;}
a[data-i="2"]:hover ~ #selectionpointer {top: 4rem;}
a[data-i="3"]:hover ~ #selectionpointer {top: 7.4rem;}
a[data-i="4"]:hover ~ #selectionpointer {top: 10.8rem;}
a[data-i="5"]:hover ~ #selectionpointer {top: 14.2rem;}
a[data-i="6"]:hover ~ #selectionpointer {top: 17.6rem;}


/* #behindcontent {
	position: absolute;
	background: url(../../images/horizontal-striped-diamond.png);
	width: 300px;
	height: 300px;	
	background-repeat: repeat-y;
	background-size: 250px;
	opacity: .5;
	z-index: -1;
	left: -20px;
	top: 20px;
} */

#sidebarwidth {
	width: 5px;
}
#sidebartoggle:has(input#sidebartogglebox:checked) ~ #sidebarwidth {
	width: 400px;
}

#sidebartoggle {
	background: var(--accentcolor-dark);
	width: 90px;
	height: 90px;
	display:inherit;
	position: absolute;
	top: 10%;
	right:-50px;
	transform: translate(-30%,-50%);
	z-index: 0;
	border-radius: 50%;
	transition: transform 500ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: white;
}

#sidebartoggle::after {
	content: "";
	background: var(--accentcolor);
	width: 80px;
	height: 80px;
	display: inherit;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-6%,-50%);
	z-index: 1;
	border-radius: 50%;
}

#sidebartoggle:hover:has(input:not(:checked)) {
	transform: translateY(-50%);
	transition: transform 500ms ease-in-out;
}

#sidebartoggle input {
	appearance: none;
	width: 80px; height: 80px;
	cursor:pointer;
	z-index: 4;
	position:absolute;
	border-radius: 50%;
}

#sidebartoggle > i {
	z-index: 2;
	letter-spacing: -.1em;
}

#sidebartoggle > input:checked ~ i:nth-of-type(1), #sidebartoggle > input:checked ~ i:nth-of-type(3) {
	display: none;
}

#sidebartoggle:hover > i {
	animation-name: fade;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	display: inline-block !important;
}

#sidebartoggle:hover > i:nth-of-type(1) {
	animation-delay: 100ms;
}
#sidebartoggle:hover > i:nth-of-type(2) {
	animation-delay: 200ms;
}
#sidebartoggle:hover > i:nth-of-type(3) {
	animation-delay: 300ms;
}
#sidebartoggle:hover > input:checked ~ i:nth-of-type(1) {
	animation-delay: 300ms;
}
#sidebartoggle:hover > input:checked ~ i:nth-of-type(2) {
	animation-delay: 200ms;
}
#sidebartoggle:hover > input:checked ~ i:nth-of-type(3) {
	animation-delay: 100ms;
}

#sidebartoggle > input:checked ~ i {
	transform:rotateY(180deg);
}



@keyframes fade {
	from {
        opacity: 0;
    }
	to {
        opacity: 1;
    }
}